html{
  font-size: 16px;
}

.grid-container {
  display: grid;
  grid-template-columns: 0.5fr 2fr 0.5fr;
  grid-template-rows: 0.15fr 3fr 1.4fr 1.2fr 0.3fr;
  grid-template-areas: "header header header" "short-your-link short-your-link short-your-link" "top-list top-list top-list" "hits-count hits-count hits-count" "footer footer footer";
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: ". header-logo .";
  grid-area: header;
  text-align: center;
  background-color: #ffffff;
}

.header-logo { grid-area: header-logo; align-self: center;}

.short-your-link {
  display: grid;
  grid-template-columns: 0.5fr 2fr 0.5fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: ". link-area ." ". link-area .";
  grid-area: short-your-link;
  background: url(/Assets/background-home.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.link-area { grid-area: link-area; text-align: center; align-self: center; }

.link-area h1 {
  color: #e4e4e4;
  font-family: Roboto Slab;
  font-size: 2rem;
  letter-spacing: 0.04rem;
  margin-bottom: 0.5rem;
}

.link-area h3 {
  color: #e4e4e4;
  font-family: Roboto;
  font-weight: 100;
  font-size: 0.95rem;
  padding-bottom: 1.5rem;
}

.link-area button {
  background-color: #ff6d14;
  font-weight: 600;
  color: #f9e5dc;
  height: 35.2px;
  border: none;
  width: 96px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  margin-top: 10px;
}

.link-area input {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-color: #ff6d14;
  background-color: rgba(0,0,0,0);
  width: 20rem;
  padding-bottom: 0.3rem;
}

input::placeholder{
  color: #ff6d14;
  font-weight: 600;
}

.top-list {
  display: grid;
  grid-template-columns: 0.5fr 2fr 0.5fr;
  grid-template-rows: 0.4fr 1.6fr;
  grid-template-areas: ". top-list-title ." ". top-list-links .";
  grid-area: top-list;
  background-color: #ffffff;
  text-align: center;
}

.top-list-title { grid-area: top-list-title; text-align: center; align-self: center; color: #AA1423; font-family: Roboto Slab; font-size: 1.5em; }

.top-list-links { grid-area: top-list-links; text-align: center; align-self: center; text-align: center; color: #AA1423; font-weight: 550; font-family: Roboto;}

.hits-count {
  display: grid;
  grid-template-columns: 0.5fr 2fr 0.5fr;
  grid-template-rows: 0.5fr 1.5fr 1fr;
  grid-template-areas: ". hits-count-title ." ". hits-count-sum ." ". hits-count-description .";
  grid-area: hits-count;
  background-color: #eeeeee;
  font-family: Roboto;
}

.hits-count-title::before{
  width: 0rem;
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  border-top: 2rem solid #ffffff;
  text-align: center;
}

.hits-count-title { grid-area: hits-count-title; text-align: center; align-self: center; color: #AA1423; font-family: Roboto Slab; font-size: 1.5em; }

.hits-count-sum { grid-area: hits-count-sum; text-align: center; align-self: center; color: #AA1423; font-family: Roboto Slab; font-size: 1.5em; }
// .hits-count-title h3 { margin-bottom: 0px !important; }
#div-hits-count-sum { border: 1px solid #ddd; background-color: white; border-radius: 5px;
  // width: 8rem;
}
.hits-count-description { grid-area: hits-count-description; text-align: center; align-self: center; color: #858585; font-family: Roboto; font-size: 0.8em; }

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "footer-left . footer-right" "footer-left . footer-right";
  grid-area: footer;
  background-color: #ffffff;
  color: #AA1423;
}

.footer-left { grid-area: footer-left; text-align: center; align-self: center; font-family: Roboto; font-size: 1.1rem; }

.footer-right { grid-area: footer-right; text-align: center; align-self: center; font-size: 1.5rem; }
.footer-right img { padding-right: 1rem; }


// ============== RESPONSIVE ==============

@media screen and (max-width: 650px) {
  html{
    font-size: 15px;
  }
  .footer-left { font-size: 15px; }
}

@media screen and (max-width: 550px) {
  html{
    font-size: 13px;
    }
    .footer-right img { padding-right: 7px; width: 22px; }
    .footer-left { font-size: 15px; }
    .hits-count-description { font-size: 14px; }
}

@media screen and (max-width: 350px) {
  html{
    font-size: 10px;
    }
    .link-area button {
      font-weight: 500;
      height: 22.2px;
      font-size: 13px;
    }
    .input::placeholder{
      font-size: 13px;
    }
    .footer-right img { padding-right: 7px; width: 19px; }
    .footer-left { font-size: 13px; }
    .hits-count-description { font-size: 11px; }
}
